@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Flamenco', sans-serif;
}

@layer components {
    .nav-btn {
        @apply px-6 py-2 bg-transparent border-2 border-amber-900 text-slate-200 font-medium rounded hover:bg-amber-800 hover:text-white transition-colors duration-300;
    }
}

@layer components {
    .perfume-card img {
        @apply hover:object-contain
    }
}